html {
    height: 100%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

body {
    background: linear-gradient(90deg, rgba(102,0,255,1), rgba(0,174,255, 1), rgba(230, 0, 255, 1), rgba(0, 210, 213, 1), rgba(0, 106, 255, 1));
    animation: gradient 60s ease infinite;
    background-size: 400% 400%;
}



.button {
    background: rgba(255, 255, 255, 0.3);
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 35px;
    font-weight: 600;
    border-radius: 75px;
    color:white;
    font-family: 'Inter', sans-serif;
    height: 140px;
    width: 830px;
    margin-top: 25px;
    margin-left: 25px;
  }

.button:active {
    background: rgba(255, 255, 255, 0.1);
}

  .circle-button {
    background: rgba(255, 255, 255, 0.3);
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    border-radius: 50%;
    height: 140px;
    width: 140px;
    color:white;
    font-family: "helvetica";
    margin-top: 25px;
    margin-left: 25px;
  }

  .circle-button:active {
    background: rgba(255, 255, 255, 0.1);
  }

  .img {
    width: 25px;
    height: 25px
  }

  .sqorcle-button {
    background: rgba(255, 255, 255, 0.3);
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    font-family: 'Inter', sans-serif;
    border-radius: 50%;
    height: 305px;
    width: 305px;
    color:white;
    font-family: "helvetica";
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .sqorcle-button:active {
    background: rgba(255, 255, 255, 0.1);
  }

  .row {
    display: flex;
  }
  
  .left-column {
    flex: 25%;
  }

  .right-column {
    flex: 75%;
  }

  .container {

    display: flex;
    
    flex-direction: column;
  }

.logo {
    margin-right: 10px;
    text-align: right;
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 20px;
}

.landing-font {
    text-align: left;
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 80px;
    line-height: 600px;
    font-weight: 600;
    margin-right: 25px
}

.landing-logo {
  text-align: right;
  font-family: 'Inter', sans-serif;
  color: white;
  font-size: 80px;
  line-height: 600px;
  font-weight: 600;
}

.enter-button {
  background: rgba(255, 255, 255, 0);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.358);
  border-radius: 75px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 80px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  height: 100px;
  width: 320px;
  margin-top: 300px;
  margin-left: 450px;
} 

.left-column-landing {
  flex: 42%;
}

.right-column-landing {
  flex: 58%;
}

.a:visited, a:link {
  color: white;
  text-decoration:none!important;
  
}
